.navbar h4 {
  color: var(--light-color);
  padding: 0.3rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--nav-bar-color);
  color: var(--light-color);
  padding: 0.7rem 0.7rem;
}
